{% extends 'temp/main_user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>SLOT</title>
</head>
<body>
	<center>
	<h1>SLOT</h1>
	<table border="2" class="table table-striped">
		<tr style="color: black">
			<td>turfname</td>
            <td>Location</td>
{#			<td>sno</td>#}
			<td>start time</td>
			<td>end time</td>
		</tr>
        {% for i in a %}
		<tr style="color: black">
			<td>{{ i.turf.turfname}}</td>
            <td>{{ i.turf.location }}</td>
{#			<td>{{ i.slot_id }}</td>#}
			<td>{{ i.start_time }}</td>
			<td>{{ i.end_time }}</td>
			
		</tr>
        {% endfor %}
		</table>
	</center>
</body>
</html>
{% endblock %}