{% extends 'temp/main_user.html' %}
{% block base %}
<html>
<head>
	<title>TURF DETAILS</title>
</head>
<body>

<center>
	<td>
	<h1>TURF DETAILS</h1>
	<table border="2" class="table table-striped">

		<tr style="color: black">
			<td>turfname</td>
			<td>location</td>
			<td>email</td>
			<td>image</td>
			<td>category</td>
		</tr>
        {% for i in a %}

		<tr style="color: black">
			<td>{{ i.turfname }}</td>
			<td>{{ i.location }}</td>
			<td>{{ i.email }}</td>
			    <td><a href="/static/{{ i.image }}"><img src="/static/{{ i.image }}" style="height: 50px;width: 50px"></a> </td>
			<td>{{ i.category.category}}</td>
		</tr>
        {% endfor %}

	</table>
</centre>
</body>
</html>
{% endblock %}
